*.suo
*.user
*.cachefile
*.trx
*.nupkg
*.ncrunchproject
**/obj/
**/bin/
packages/

_ReSharper.Caches
TestResults

Topological Sorting Test/bin
Topological Sorting Test/obj

TopologicalSorting/bin
TopologicalSorting/obj