*.suo
*.user
*.cachefile
*.trx
TwilightNightmare/TwilightNightmare/bin
TwilightNightmare/TwilightNightmare/obj
TwilightNightmare/TwilightNightmareContent/bin
TwilightNightmare/TwilightNightmareContent/obj